body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

@font-face {
    font-family: Balmoral;
    src: url(../fonts/Allegretto.ttf);
    
}
label, input, textarea, select {
	margin-left: 66px;
}

label {
	margin-top: 8px;
}

#send {
	float: right;
	margin-top: 20px;
	margin-right: 120px;
}

.close{
	position: fixed;
	float: left;
	margin-top: 10px;
	margin-left: 320px;	
}

textarea {
	width: 217px;
	border: 1px solid rgba(190, 190, 190, 0.9);
}

iframe {
	z-index: 10000;
	width: 350px;
	height: 450px;
	border-radius: 8px;
}
#center {
	position: fixed;
	z-index: 12000;
	width: 100%;
}

#form {
	z-index: 10000;
	margin: 130px auto;
	width: 350px;
	height: 450px;	
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0 0px 50px rgba(0,0,0,0.6);
}
@-moz-document url-prefix() {
	#form {
	position: fixed;
	z-index: 100;
	margin-top: -15%;
	margin-left: 35%;
	width: 350px;
	height: 460px;	
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0 0px 50px rgba(0,0,0,0.6);
	}
}

doesnotexist:-o-prefocus, #form {
	position: fixed;
	z-index: 100;
	margin-top: -20%;
	margin-left: 35%;
	width: 350px;
	height: 460px;	
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0 0px 50px rgba(0,0,0,0.6);
}

#form th {
	float: right;
	margin: 2px;
}
#form tr {
	margin: 5px;
}

body {
	max-width: 100%;
	background: #fff;
	
}
h4, h5, p{
	margin-top: 4px;
	text-align: center;
	font-size: 0.9em;
}
h3 {
	text-align: center;
	font-size: 1.5em;
}
.collumn {
	float: left;
	margin: 1px;
	margin-right: 3px;
	padding: 5px;
	width: 31%;
	height: 95%;
	/**border-right: 3px solid rgba(68, 68, 68, 0.4);**/
	
	
}

#addservices .collumn:last-child {
	border-right: none;
}

#add {
	position: relative;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
    padding-top: 5px;
    width: 99.3%; 
	cursor: pointer;     
}

span {
	text-align: center;
}

.co {
	text-indent: 15px;
}

#addservices {
	position: relative;
	float: left;
	margin-right:5px;
	margin-bottom: 10px;
	margin-left: 5px;
	width: 99.4%;
	height: 240px;
	border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
	background: rgba(255, 255, 255, 0.90);
	
}


#addservices p {
	text-align: left;
	font-size: 1em;
}

#addinfo1 {
	position: absolute;
	z-index: 15;
	margin-top: 220px;
	margin-left: 5%;
	padding: 2%;
	width: 480px;
	height: 300px;
	border: 3px solid rgba(120, 120, 120, 0.8);
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0 0px 10px rgba(0,0,0,0.7);
	opacity: 0;
}

#addinfo2 {
	position: relative;
	z-index: 15;
	margin-top: 220px;
	margin-left: 203%;
	padding: 2%;
	width: 480px;
	height: 300px;
	border: 3px solid rgba(120, 120, 120, 0.8);
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0 0px 10px rgba(0,0,0,0.7);
	opacity: 0;
}



th, td {
	font-size: 0.7em;
}
thead {
	display: table-header-group;
	border-color: inherit;
	vertical-align: middle;
}

a {
	border-radius: 4px;
	text-align: center;
	font-size: 1.5em;
}

#slideshow_banner  {
	position: fixed;
	width: 100%;
	height: 100%;
	
}

#one{
	position: fixed;
	width: 100%;
	height:100%; 
	background-image: url(../img/banner.jpg);	
	background-size: cover;     
   
}
 #two{
    position: fixed;
 	width: 100%;
 	height:100%; 
 	background-image: url(../img/one.jpg);	
 	background-size: cover; 
 }

  #three{
    position: fixed;
 	width: 100%;
 	height: 100%; 
 	background-image: url(../img/two.jpg);	
 	background-size: cover; 
 }

  #four{
    position: fixed;
 	width: 100%;
 	height: 100%; 
 	background-image: url(../img/four.jpg);	
 	background-size: cover; 
 }

h1 {
	text-align: center;
	font-size: 3em;
	font-family: 'Balmoral', regular;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#maksimus h1 {
	margin: 4px;
	text-align: center;
	font-size: 3em;
    font-family: 'Balmoral', regular;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#lidia h1 {
	margin: 4px;
	text-align: center;
	font-size: 3em;
    font-family: 'Balmoral', regular;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



#katera h1 {
	font-size: 2em;
}
#teplohodi h1 {
	font-size: 2em;
}
#katera h2 {
	font-size: 1em;
}
#teplohodi h2 {
	font-size: 1em;
}
h2 {
	clear: both;
	color:#444444;
	text-align: center;
	font-size: 1.2em;
	font-family: Helvetica,  italic;
	
}


.price {
	position: relative;
	z-index: 15;
	float: left;
	margin-top: -9%;
	margin-left: 22%;
	max-width: 55%;
}

.pp {
	position: relative;
	float: left;
	width: 51%;
	height: 80%;	
}

#info {
	position: relative;
	float:right;	
	margin-right: 1%;
	width: 45%;
	height: 80%;
}


.list {
	margin-left:8%;
}

li {
	clear:both;
	color:#444444;
	list-style-type: disc;
	font-size: 1.2em;
}


.order{
	position: relative;
	top: -15px;
	z-index: 20;
	float: right;	
	margin-right: 15px;
	width: 45%;
	height: 100%;
}
.order1{
	position: absolute;
	z-index: 20;	
	float: left;
	margin-top: 470px;
	margin-left: 27px;
	width: 20%;
}


header {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 500px;
	

}

#header-content {
	z-index: 26;
	margin: -100px auto;
	width: 255px;
	height: 84px;
	border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
	background: rgba(252, 252, 252, 0.50) center;
	box-shadow: 0 3px 10px rgba(0,0,0,0.3);		
	
	-webkit-animation: logo_slide 0.5s linear 4s;
	-moz-animation: logo_slide 0.5s linear 4s;
	-o-animation: logo_slide 0.5s linear 4s;
	
	animation: logo_slide 0.5s linear 4s;
	animation-fill-mode: forwards; 
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards; 
}


/** Logo slide in **/
@keyframes logo_slide {
    0% {margin: -100px auto;}  
      
    100% {margin: -5px auto;}  
}

@-moz-keyframes logo_slide {
    0% {margin: -100px auto;}  
      
    100% {margin: -5px auto;}  
}

@-webkit-keyframes logo_slide {
    0% {margin: -100px auto;}  
      
    100% {margin: -5px auto;} 
}
@-o-keyframes logo_slide {
    0% {margin: -100px auto;}  
      
    100% {margin: -5px auto;}  
}

#logo {
	position: relative;
	z-index: 4;
	margin-top: -2px;
	margin-left:10%;
	width: 200px;
	height: 100px;
}
#container {
	width: 100%;
}

#phone {
	position: absolute;
	top: 335px;
	left: 1.5%;
	z-index: 5;
	float: left;
	width: 650px;
	color: #FFFFFF; text-align: left;
	text-transform: uppercase;		
	text-shadow: 0 3px 5px rgba(0,0,0,0.7);
	font-size: 3.5em; line-height: 1em;
}

#regular {
	position: absolute;
	top: 300px;
	right: 1.5%;
	float: right;
	font-size: 3em;	
}

#big {
	position: absolute;
	top: 385px;
	right: 1.5%;
	float: right;
	font-size: 3.5em;	
}

.heading {
	width: 650px;
	color: #fff; 
	text-align: right;
	text-transform: uppercase;		
	text-shadow: 0 3px 5px rgba(0,0,0,0.7);
	line-height: 1em;
}

	

#content { 
	position: relative;
	top: 440px;
	z-index: 10;
	width: 100%;
	height: 100%;
	border: none;
	background: transparent repeat center center;
	/**box-shadow: 0px -8px 14px rgba(0,0,0,0.2);**/
}


.nice_header {
    padding-bottom: 10px;
    outline: 0;
    border: 1px solid transparent;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #e4e4e4;    
    background-image: -webkit-linear-gradient(#f2f2f2, #e4e4e4 50%), -webkit-linear-gradient(#e4e4e4, #ccc);
    background-image:    -moz-linear-gradient(#f2f2f2, #e4e4e4 50%),    -moz-linear-gradient(#e4e4e4, #ccc);
    background-image:     -ms-linear-gradient(#f2f2f2, #e4e4e4 50%),     -ms-linear-gradient(#e4e4e4, #ccc);
    background-image:      -o-linear-gradient(#f2f2f2, #e4e4e4 50%),      -o-linear-gradient(#e4e4e4, #ccc);
    background-image:         linear-gradient(#f2f2f2, #e4e4e4 50%),         linear-gradient(#e4e4e4, #ccc);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5), 0 3px 6px -3px rgba(0,0,0,0.25);
	color: #444;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    font: bold 16px;   
        
}

.nice_header_s{
    padding-bottom: 2px;
    outline: 0;
    border: 1px solid transparent;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #e4e4e4;    
    background-image: -webkit-linear-gradient(#f2f2f2, #e4e4e4 50%), -webkit-linear-gradient(#e4e4e4, #ccc);
    background-image:    -moz-linear-gradient(#f2f2f2, #e4e4e4 50%),    -moz-linear-gradient(#e4e4e4, #ccc);
    background-image:     -ms-linear-gradient(#f2f2f2, #e4e4e4 50%),     -ms-linear-gradient(#e4e4e4, #ccc);
    background-image:      -o-linear-gradient(#f2f2f2, #e4e4e4 50%),      -o-linear-gradient(#e4e4e4, #ccc);
    background-image:         linear-gradient(#f2f2f2, #e4e4e4 50%),         linear-gradient(#e4e4e4, #ccc);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5), 0 3px 6px -3px rgba(0,0,0,0.25);
	color: #444;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    font: bold 16px;
           
}
.ships {
	border-right: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	border-left: 1px solid #EAEAEA;
    border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background: rgba(255, 255, 255, 0.90);
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);	
}
#maksimus { 
	top: 445px;
	z-index: 4;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	width: 49%;
	height: 400px;
	
}
.images {
	position: relative;
	z-index: 6;
	float: left;
	margin-top: 2%;
	margin-right: 2%;
	margin-left: 2%;
	max-width: 96%;
	max-height: 70%;	
}
.picture {
	border-radius: 8px;
}

#lidia { 
	top: 445px;
	z-index: 6;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	width: 49%;
	height: 400px;
}

#katera { 
	top: 445px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	width: 49.15%;	
}

#maksum {
	z-index: 6;	
	float: left;
	width: 49%;
	height: 550px;
		
}



#katarina {
	top: 445px;
	z-index: 6;	
	float: right;
	width: 49%;
	height: 550px;
	
}

#teplohodi { 
	top: 445px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	width: 49.15%;
	height: 400px;	
}

#neva3 {
	top: 445px;
	z-index: 6;
	float: left;
	width: 49%;
	height: 550px;
}

#moskva178 {
	top: 445px;
	z-index: 6;
	float: right;
	width: 49%;
	height: 550px;
}


/** media queries**/
@media screen and (max-width: 1440px) {
	

	#addservices {
		width: 99.3%;
		height: 230px;
	}
	#add{
	    width: 99.2%;
	    
	}
}
@media screen and (max-width: 1451px) {
	li {
	    font-size: 1.1em;
	}
}

@media screen and (max-width: 1366px) {
	
	#addinfo {
		margin-left: 26%;
	}
	#addservices {

		width: 99.3%;
	}
	#add{
	    width: 99.1%;
	    	
	}	
}

@media screen and (max-width: 1280px) {
	
	#price_m {
		margin-top: 230px;
		margin-left: 70px;
	}
	#price_l {
		margin-top: 234px;
		margin-left: 70px;
	}
	li{
		font-size: 1em;
	}

	#maksum, #katarina, #neva3, #moskva178  {
			height: 500px;
	} 
	#addinfo {
		margin-left: 20%;
	}
	.order1{
		margin-top: 420px;
	}
	#addservices {
		height: 240px;
		font-size: 0.9em;
	}
    #add{ 
    	width: 99.1%;
	    
	    }
}

@media screen and (max-width: 1024px) {
	#container{
		width: 100%;
	}
	
	#content {
		width: 100%;
	}
	#price_m {
		margin-top: 223px;
		margin-left: 55px;
		
	}
	#price_l {
		margin-top: 226px;
		margin-left: 55px;
	}
	h1{
		font-size: 2.3em;
	}
	#l_info li {
		font-size: 1em;
	}
	#m_info li {
		font-size: 1em;
	}
	
	h2 {
		margin-top: 0px;
		font-size: 1.2em;
	}
	#addservices {
		width: 99.2%;
		height: 280px;
	}	
	#add { 
    	width: 99%;
	    	
	}
	.order1{
		margin-left:21px;
	}
	#phone {
		top: 355px;		
		font-size: 3em; line-height: 0.9em;
		}

	#regular {
		position: absolute;
		top: 322px;
		right: 1.5%;
		float: right;
		font-size: 2.5em;	
		}

	#big {
		position: absolute;
		top: 390px;
		right: 1.5%;
		float: right;
		font-size: 3em;	
		}
}







